/* vars */

.dark:root {
  --main-bg-color: #121415;
  --sidebar-bg-color: #0A1112;
  --sidebar-hover-color: #0b1314;
  --light-bg-color: #1D1F20;
  --text-color: #62666A;
  --text-light: #B8C0C7;
  --red-color: #ff6464;
  --blue-color: #1194ff;
  --green-color: #52de97;
  --input-area-bg-color: #1C1E1F;
  --message-bg-color: #1A1C1E;
  --backdrop-color: rgba(0, 0, 0, 0.9);
  --light: white;
  --text-dark: #121415;
}

.light:root {
  --main-bg-color: #F7F7F7;
  --sidebar-bg-color: #E4E4E4;
  --sidebar-hover-color: #F7F7F7;
  --light-bg-color: #EEEEEE;
  --text-color: #9F9F9F;
  --text-light: #666666;
  --red-color: #ff6464;
  --blue-color: #1194ff;
  --green-color: #52de97;
  --input-area-bg-color: #9F9F9F;
  --message-bg-color: #E4E4E4;
  --backdrop-color: rgba(0, 0, 0, 0.9);
  --light: white;
  --text-dark: #121415;
}

.nofill {
  fill: none !important;
}

/* Fonts */

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway Bold";
  src: url("./fonts/Raleway/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway SemiBold";
  src: url("./fonts/Raleway/Raleway-SemiBold.ttf");
}

@font-face {
  font-family: "Khand Bold";
  src: url("./fonts/Khand/khand-bold.ttf");
}

.KhandBold {
  font-family: "Khand Bold";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  transition: background-color 200ms ease-in-out;
}

html, body {
  overflow: hidden;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-family: "Raleway";
  position: fixed;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--main-bg-color);
}

.CodeMirror {
  cursor: text !important;
}

.button {
  padding: 10px 20px;
  background-color: var(--blue-color);
  border: none;
  color: var(--light);
  display: inline-flex;
  align-items: center;
}

.button:disabled {
  background-color: var(--text-light);
}

a {
  color: var(--blue-color);
  margin: 0px 3px;
}

.video-input video {
  transform: scaleX(-1);
  width: inherit;
  height: auto;
}