.settings-panel-backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-color);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings-panel-backdrop.hide {
  display: none;
}

.settings-panel {
  width: 70vw;
  height: 70vh;
  background-color: var(--sidebar-bg-color);
  border-radius: 1%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  align-items: center;
  user-select: none;
}

.settings-panel>div {
  width: 100%;
  height: 100%;
  flex: 0 0 auto;
  position: relative;
  padding: 30px;
}

.settings-panel .navButtons {
  position: absolute;
  bottom: 30px;
  width: calc(100% - 60px);
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.thankyou {
  text-align: center;
}

.thankyou p {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 7%;
}

.thankyou img {
  width: 20%;
}

.info .input {
  width: 70%;
}

.settings-panel h1 {
  margin-bottom: 20px;
  text-align: center;
}

.gettingStarted .keys {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 15px;
}

.gettingStarted .key {
  height: 290px;
  border: 1px solid var(--main-bg-color);
  background-color: var(--light-bg-color);
  padding: 10px;
  width: calc(50% - 5px);
  font-family: monospace;
  position: relative;
}

.gettingStarted .key .public, .gettingStarted .key .private {
  text-overflow: ellipsis;
  white-space: initial;
  overflow: hidden;
  height: 100%;
  padding-top: 32px;
}

.gettingStarted .key>.copy-icon {
  position: absolute;
  right: 5px;
  display: flex;
  align-items: center;
}

.gettingStarted .key>.copy-icon>svg {
  margin-left: 5px;
}

.gettingStarted .key.selected>.copy-icon>svg {
  stroke: var(--green-color);
}

.verifyEmail {
  text-align: center;
}

.settings-panel .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-panel .icon>svg {
  width: 30px;
  height: 30px;
  stroke: var(--blue-color);
  margin-bottom: 15px;
}

.verifyEmail h1 {
  margin-bottom: 12px;
}

.input {
  height: 35px;
  outline: none;
  margin-bottom: 15px;
  border-radius: 3px;
  padding: 10px 20px;
  border: 1px solid var(--main-bg-color);
  background-color: var(--light-bg-color);
  color: var(--text-light);
  font-size: 18px;
  width: 100%;
}

.settings-panel .optional-input {
  transition: all 200ms ease-in-out;
}

.label>input {
  margin-right: 15px;
}

.label {
  height: 45px;
  display: flex;
  align-items: center;
}

.verifyEmail .loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.two-cols {
  display: flex;
}

.two-cols>div {
  display: flex;
  flex: 1;
}

/* loader */

.sk-chase {
  width: 50px;
  height: 50px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2.0s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: var(--text-light);
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2) {
  animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}

.sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2):before {
  animation-delay: -1.0s;
}

.sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot {
  80%, 100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%, 0% {
    transform: scale(1.0);
  }
}

.choseAvatar .video-input {
  width: 200px;
  height: 200px;
  border-radius: 300px;
  overflow: hidden;
}

.choseAvatar img {
  width: 300px;
}

.choseAvatar .video-input>video {
  transform: scaleX(-1);
  width: inherit;
  height: inherit;
  object-fit: cover;
}